audio#player
.player-head.row
    .buttons.col-xs-3
        span#play-btn.glyphicon.glyphicon-play
        span#prev-btn.glyphicon.glyphicon-backward
        span#next-btn.glyphicon.glyphicon-forward

    .name.col-xs-8
        |Семён Слепаков – Песня российского чиновника

    .menu.col-xs-1
        //span.glyphicon.glyphicon-volume-off
        span.glyphicon.glyphicon-align-justify#list-toggle
.seek.row
    .progress
        .progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: 60%;")
            span.sr-only
                |60% Complete
