.song.row
    .play.col-xs-2
        span.glyphicon.glyphicon-play
        span.glyphicon.glyphicon-minus
    .name.col-xs-10
        a.author
            |Семён Слепаков
        span
            |&nbsp- Песня российского чиновника